@import "tailwindcss";
@config "../tailwind.config.js";


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .party {
    --background: 50 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  html, body {
    @apply bg-zinc-950 text-zinc-50;
    overscroll-behavior: none;
    background-color: rgb(9, 9, 11); /* varmistaa ettei valkoista näy sivun "venytyksessä" */
  }
}
